body{
    color: #333;
    text-align: left;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#contenedor{
    color:rgb(8, 0, 255);
    font-family: Arial, Helvetica, sans-serif;
}

#bloq_izq{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color:black;


}